/* The body tag is used to set global values that can be overwritten anytime is needed,
   but I don't want to write it over and over again */
body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.main {
    display: flex;
}



