.sidebar {
    width: 30%;
    max-width: 200px;
    background-color: #40598c;
    height: 100vh;
}
.sidebar-menu {
    margin: 10px;
    color: #fff;
}

.sidebar-menu__list {
    list-style: none;
    padding: 0;
}

.sidebar-menu__list li {
    cursor: pointer;
    margin-bottom: 5px;
    text-decoration: none;
    color: #ccc;
}

.sidebar-menu__bottom {
    position: absolute;
    bottom: 10px;
}